* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: seashell;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    opacity: 0.9;
    text-align: center;
}

header {
    position: fixed;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    display: flex;
}

header img {
    height: 50px;
}

header ul {
    list-style-type: none;
    display: block;
}

header ul li {
    display: inline-block;
}
